//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        fun_game: fun_game {
            compatible = "zmk,behavior-tap-dance";
            label = "FUN_GAME";
            #binding-cells = <0>;
            bindings = <&mo 3>, <&to 4>;
        };

        hml: homerow_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HM_L";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <16 17 18 19 32 33 34 35 36 37>;
            hold-trigger-on-release;
            require-prior-idle-ms = <125>;
        };

        hmr: homerow_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <32 33 34 35 36 37 13 12 11 10>;
            hold-trigger-on-release;
            require-prior-idle-ms = <125>;
        };

        return_base: return_base {
            compatible = "zmk,behavior-tap-dance";
            label = "RETURN_BASE";
            #binding-cells = <0>;
            bindings = <&kp ENTER>, <&to 0>;
        };
    };

    combos {
        compatible = "zmk,combos";

        NavNumToggle {
            bindings = <&tog 1>;
            key-positions = <16 17 18>;
            layers = <0 1>;
        };

        BaseToggle {
            bindings = <&tog 4>;
            key-positions = <22 23 24>;
            layers = <4 0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
                           &kp Q            &kp W            &kp E         &kp R              &kp T        &kp Y  &kp U                  &kp I          &kp O             &kp P
                           &hml LEFT_GUI A  &hml LEFT_ALT S  &hml LCTRL D  &hml LEFT_SHIFT F  &kp G        &kp H  &hmr LSHIFT J          &hmr RCTRL K   &hmr RIGHT_ALT L  &hmr RGUI SEMICOLON
&hml LS(LA(LCTRL)) ESCAPE  &kp Z            &kp X            &kp C         &kp V              &kp B        &kp N  &kp M                  &kp COMMA      &kp PERIOD        &kp SLASH            &kp RET
                                                             &mo 3         &lt 2 TAB          &kp SPACE    &mo 1  &kp LS(LA(LG(LCTRL)))  &kp BACKSPACE
            >;
        };

        NavNum {
            display-name = "NavNum";
            bindings = <
        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5    &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &trans
        &kp NUMBER_6  &kp N7        &kp N8        &kp N9        &kp N0    &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans
&trans  &trans        &trans        &trans        &trans        &trans    &trans    &trans     &trans     &trans     &trans  &kp LA(TAB)
                                    &to 0         &trans        &trans    &trans    &trans     &trans
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
           &kp EXCL  &kp AT  &kp HASH  &kp DOLLAR      &kp PERCENT             &kp CARET              &kp AMPERSAND    &kp ASTRK  &kp MINUS  &kp EQUAL
           &trans    &trans  &trans    &trans          &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &trans           &trans     &trans     &kp SINGLE_QUOTE
&kp GRAVE  &trans    &trans  &trans    &kp LEFT_BRACE  &kp LEFT_BRACKET        &kp RIGHT_BRACKET      &kp RIGHT_BRACE  &trans     &trans     &kp BACKSLASH     &trans
                             &trans    &trans          &trans                  &trans                 &trans           &kp DEL
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
        &trans  &kp C_PREV  &kp C_PP  &kp C_NEXT  &trans    &kp C_VOLUME_UP  &kp F9  &kp F10  &kp F11  &kp F12
        &trans  &trans      &trans    &trans      &to 4     &kp C_VOL_DN     &kp F5  &kp F6   &kp F7   &kp F8
&trans  &trans  &trans      &trans    &trans      &to 0     &kp K_MUTE       &kp F1  &kp F2   &kp F3   &kp F4   &kp PRINTSCREEN
                            &trans    &trans      &trans    &trans           &trans  &trans
            >;
        };

        Gaming {
            display-name = "Game";
            bindings = <
         &sl 5           &kp X  &kp C      &kp V         &kp B     &trans  &trans  &trans  &trans  &trans
         &kp TAB         &kp Q  &kp W      &kp E         &kp R     &trans  &kp J   &kp K   &kp L   &trans
&kp ESC  &kp LEFT_SHIFT  &kp A  &kp S      &kp D         &kp F     &trans  &trans  &trans  &trans  &trans  &trans
                                &kp LCTRL  &kp LEFT_ALT  &trans    &trans  &to 0   &trans
            >;
        };

        Gaming+ {
            display-name = "Game+";
            bindings = <
        &kp Z   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp T    &kp RS(F12)  &trans  &trans  &trans  &trans
        &kp L   &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp G    &kp F5       &trans  &trans  &trans  &trans
&trans  &kp N0  &kp N7        &kp N8        &kp N9        &kp H    &trans       &trans  &trans  &trans  &trans  &kp LA(F4)
                              &kp J         &kp I         &kp M    &to 0        &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
